.header{
    width: 100%;
    background-color: rgb(5, 6, 16);
    &__hero{
        display: flex;
        align-items: center;
    }
    &--icon{
        color: #fff;
        font-size: 35px;
        padding-right: 20px;
    }
    &--input{
        background-color: transparent;
        border: 1px solid gray;
        outline: none;
        border-radius: 6px;
        padding: 0px 60px 0 10px;
        color: #fff;
        &::placeholder{
            color: gray;
        }
    }
    &__search{
        display: flex;
        position: relative;
    }
    &--span{
        width: 20px;
        height: 20px;
        text-align: center;
        border: 1px solid gray;
        color: gray;
        border-radius: 4px;
        position: absolute;
        top: 2.5px;
        right: 2.5px;
    }
    &__menu{
        &--list{
            display: flex;
            align-items: center;
        }
        &--link{
            font-weight: 700;
            font-size: 15px;
            padding-right: 15px;
        }
    }
    &__avatar{
        margin-right: 15px;
    }
}